<div class="perfilContenedor">
  <div class="titular">
    <p class="tituloPagina">Trayectoria profesional</p>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">10/2022 - 12/2024</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Durante este ciclo adquirí las <span class="resaltarLetras">bases de la programación</span> y me especialicé en el <span class="resaltarLetras">desarrollo de aplicaciones en Java</span>. Finalizé mi formación con proyectos en <span class="resaltarLetras">Python</span> y desarrollo móvil con <span class="resaltarLetras">Android Studio</span>. Mi <span class="resaltarLetras">proyecto final</span> consistió en una <span class="resaltarLetras">aplicación móvil funcional</span> con despliegue y funcionalidades completas.</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">ESTANCIA EN SERBATIC</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">En <span class="resaltarLetras">SERBATIC</span> tuve mi primera toma de contacto con entornos profesionales. Trabajé en <span class="resaltarLetras">desarrollo web</span> con <span class="resaltarLetras">Jakarta EE</span> y aprendí a utilizar nuevas herramientas como <span class="resaltarLetras">IntelliJ, Postman y Docker</span>. Participé en la construcción de aplicaciones web, entre ellas una <span class="resaltarLetras">tienda online</span> y un <span class="resaltarLetras">primer prototipo de un acortador de URLs</span>.</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">09/2024 - 12/2024</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">01/2025 - 07/2025</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIO Y CURSOS DE DESARROLLO WEB</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Tras <span class="resaltarLetras">finalizar DAM</span> continué formándome con cursos enfocados al <span class="resaltarLetras">desarrollo web</span>. Empecé con <span class="resaltarLetras">JavaScript</span> y posteriormente profundicé en <span class="resaltarLetras">Spring</span> y <span class="resaltarLetras">Spring Boot</span>, trabajando con bases de datos <span class="resaltarLetras">MySQL</span> y creando mis primeros proyectos web completos. Finalmente amplié mis capacidades al frontend con <span class="resaltarLetras">Angular</span>, desarrollando <span class="resaltarLetras">aplicaciones full-stack</span> combinando Angular + Spring Boot.</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">TRABAJOS INDEPENDIENTES</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Aplicando lo aprendido, realicé <span class="resaltarLetras">proyectos web en colaboración</span>, entre ellos una <span class="resaltarLetras">web de servicios de delivery en Mallorca</span> y un <span class="resaltarLetras">acortador de URLs</span> completamente funcional para <span class="resaltarLetras">uso empresarial</span>. Estos proyectos me dieron la oportunidad de trabajar con <span class="resaltarLetras">clientes reales</span> y gestionar necesidades específicas, además de mantener código, seguridad y despliegues.</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">07/2025 - Actualmente</p>
        </div>
    </div>
    
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">09/2025 - Actualmente</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
          <div class="contenedorBarraFinal">
          <div class="barraFinal"></div>

          <div class="fila fila1">
            <div class="cuadrado c1"></div>
            <div class="cuadrado c2"></div>
            <div class="cuadrado c3"></div>
          </div>

          <div class="fila fila2">
            <div class="cuadrado c4"></div>
            <div class="cuadrado c5"></div>
          </div>

          <div class="fila fila3">
            <div class="cuadrado c6"></div>
            <div class="cuadrado c7"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAW</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Actualmente curso <span class="resaltarLetras">2º de DAW</span>, habiendo accedido directamente con <span class="resaltarLetras">buenas calificaciones</span>. Continúo reforzando mis <span class="resaltarLetras">conocimientos en desarrollo web</span>, orientándome hacia una <span class="resaltarLetras">formación más completa</span> y una <span class="resaltarLetras">titulación</span> a algo que me encaja más a como soy yo.</p>
        </div>
    </div>
  </div>
</div>