.perfilContenedor {
  width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
}

.titular {
  display: flex;
  justify-content: center;
}

.tituloPagina {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  padding-top: 3vh;
  padding-bottom: 8vh;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin: 0;
  font-weight: 800;
  -webkit-text-stroke: 0.07rem var(--negro-1);
  text-align: center;
  text-shadow:
    0.2rem 0.2rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1);
}

.linea {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.filaSuperiorIzquierda {
  width: 42.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.filaSuperiorDerecha {
  width: 42.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
}

.enlacesContenedor {
  background: var(--negro-1);
  border-radius: 7px;
  padding: 0.5rem;
  width: auto;
  border: 0.08rem solid var(--color-2);
  box-shadow: 0.2rem 0.2rem 0 var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.enlacesContenedor p {
  margin: 0;
}

.titulo {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  font-size: 0.9rem;
  text-align: start;
  font-weight: 1;
  font-weight: 600;
}

.resaltarLetras {
  color: var(--color-1);
}

.textoTrayectorias {
  color: var(--blanco-1);
  font-family: var(--Texto);
  text-align: left;
  font-size: 0.7rem;
}

.filaLinea {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.figura {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circulo {
  width: 90%;
  aspect-ratio: 1;
  background: radial-gradient(circle at center, transparent 30%, var(--color-1) 31%);
  border: 0.1rem solid var(--color-2);
  border-radius: 50%;
  position: relative;
  z-index: 3;
  margin-top: 0.4rem;
}

.barra {
  margin-top: 0.4rem;
  flex: 1;
  width: 30%;
  background-color: var(--color-1);
  border-radius: 10rem;
  z-index: 1;
}

.contenedorBarraFinal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 10%;
  -webkit-mask-image: linear-gradient(to bottom, var(--negro-2) 0%, var(--negro-2) 100%);
  mask-image: linear-gradient(to bottom, var(--negro-2) 0%, var(--negro-2) 100%);
  }
  
.barraFinal {
  width: 30%;
  height: 70%;
  background-color: var(--color-1);
  border-radius: 10rem 10rem 0 0;
  z-index: 1;
}

.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  height: calc(30% / 3);
}

.cuadrado {
  aspect-ratio: 1 / 1;
  background-color: var(--color-1);
}

.c1 {
  width: 1rem;
  transform: translate(35%, -100%);
  border-radius: 2px;
}

.c2 {
  width: 0.5rem;
  transform: translate(45%, 20%);
  border-radius: 1px;
}

.c3 {
  width: 0.75rem;
  transform: translate(-30%, 70%);
  border-radius: 1px;
}

.c4 {
  width: 0.4rem;
  transform: translate(-50%, -90%);
  border-radius: 1px;
}

.c5 {
  width: 1rem;
  transform: translate(10%, 10%);
  border-radius: 2px;
}

.c6 {
  width: 0.6rem;
  transform: translate(20%, -120%);
  border-radius: 1px;
}

.c7 {
  width: 0.4rem;
  transform: translate(-50%, 60%);
  border-radius: 1px;
}

@media (min-width: 768px) {
  .tituloPagina {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 3vh;
    padding-bottom: 8vh;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.1rem var(--negro-1);
    text-align: center;
    text-shadow:
      0.3rem 0.3rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .filaSuperiorIzquierda {
    width: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    padding-right: 0.9rem;
  }

  .filaSuperiorDerecha {
    width: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
  }

  .filaLinea {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .enlacesContenedor {
    background: var(--negro-1);
    border-radius: 10px;
    padding: 1rem;
    width: auto;
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.5rem 0.5rem 0 var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .titulo {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    font-size: 1.3rem;
    text-align: left;
  }

  .textoTrayectorias {
    color: var(--blanco-1);
    font-family: var(--Texto);
    text-align: left;
    font-size: 1rem;
  }

  .filaLinea {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .circulo {
    width: 80%;
    aspect-ratio: 1;
    background: radial-gradient(circle at center, transparent 25%, var(--color-1) 26%);
    border: 0.1rem solid var(--color-2);
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin-top: 10%;
  }

  .barra {
    margin-top: 15%;
    margin-bottom: 10%;
    flex: 1;
    width: 30%;
    background-color: var(--color-1);
    border-radius: 10rem;
    z-index: 1;
  }

  .contenedorBarraFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    -webkit-mask-image: linear-gradient(to bottom, var(--negro-2) 0%, var(--negro-2) 100%);
    mask-image: linear-gradient(to bottom, var(--negro-2) 0%, var(--negro-2) 100%);
  }

  .barraFinal {
    width: 30%;
    height: 50%;
    background-color: var(--color-1);
    border-radius: 10rem 10rem 0 0;
    z-index: 1;
  }

  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    height: calc(50% / 3);
  }

  .cuadrado {
    aspect-ratio: 1 / 1;
    background-color: var(--color-1);
  }

  .c1 {
    width: 2rem;
    transform: translate(25%, -70%);
    border-radius: 5px;
  }

  .c2 {
    width: 1rem;
    transform: translate(45%, -60%);
    border-radius: 3px;
  }

  .c3 {
    width: 1.5rem;
    transform: translate(-40%, 20%);
    border-radius: 4px;
  }

  .c4 {
    width: 0.8rem;
    transform: translate(-50%, -60%);
    border-radius: 2px;
  }

  .c5 {
    width: 2rem;
    transform: translate(50%, 10%);
    border-radius: 5px;
  }

  .c6 {
    width: 1.2rem;
    transform: translate(20%, -120%);
    border-radius: 3px;
  }

  .c7 {
    width: 0.8rem;
    transform: translate(-50%, 60%);
    border-radius: 2px;
  }
}

@media (min-width: 1500px) {
  .tituloPagina {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 3vh;
    padding-bottom: 12vh;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.15rem var(--negro-1);
    text-align: center;
    text-shadow:
      0.5rem 0.5rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .filaSuperiorIzquierda {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-left: 4%;
  }

  .filaSuperiorDerecha {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    padding-right: 4%;
  }

  .enlacesContenedor {
    background: var(--negro-2);
    border-radius: 10px;
    padding: 2rem;
    width: auto;
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.3rem 0.3rem 0 var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .titulo {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    font-size: 2rem;
    text-align: left;
    margin-right: 3rem;
  }

  .textoTrayectorias {
    color: var(--blanco-1);
    font-family: var(--Texto);
    text-align: left;
    font-size: 1.2rem;
  }

  .circulo {
    width: 60%;
    aspect-ratio: 1;
    background: radial-gradient(circle at center, transparent 25%, var(--color-1) 26%);
    border: 0.1rem solid var(--color-2);
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin-top: 5%;
  }

  .barra {
    margin-top: 10%;
    margin-bottom: 5%;
    flex: 1;
    width: 20%;
    background-color: var(--color-1);
    border-radius: 10rem;
    z-index: 1;
  }

  .barraFinal {
    width: 30%;
    height: 50%;
    background-color: var(--color-1);
    border-radius: 10rem 10rem 0 0;
    z-index: 1;
  }

  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    height: calc(50% / 3);
  }

  .cuadrado {
    aspect-ratio: 1 / 1;
    background-color: var(--color-1);
  }

  .c1 {
    width: 2rem;
    transform: translate(25%, -70%);
    border-radius: 5px;
  }

  .c2 {
    width: 1rem;
    transform: translate(45%, -60%);
    border-radius: 3px;
  }

  .c3 {
    width: 1.5rem;
    transform: translate(-40%, 20%);
    border-radius: 4px;
  }

  .c4 {
    width: 0.8rem;
    transform: translate(-50%, -60%);
    border-radius: 2px;
  }

  .c5 {
    width: 2rem;
    transform: translate(50%, 10%);
    border-radius: 5px;
  }

  .c6 {
    width: 1.2rem;
    transform: translate(20%, -120%);
    border-radius: 3px;
  }

  .c7 {
    width: 0.8rem;
    transform: translate(-50%, 60%);
    border-radius: 2px;
  }
}