<div class="perfilContenedor">
  <div class="titular">
    <p class="tituloPagina">Trayectoria profesional</p>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">10/2022 - 12/2024</p>
        </div>
    </div>
    <div class="filaSuperior2">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Primeros pasos en el mundo de la programación en el primer año, y en el segundo especialización en <span class="resaltarLetras">Java en el desarrolllo de aplicaciones</span>. Aprendizaje de programar en <span class="resaltarLetras">Python</span> y android con <span class="resaltarLetras">Android Studio</span>, pero en menor medida que <span class="resaltarLetras">Java</span>. Desarrollo de varias aplicaciones como mi proyecto final en una <span class="resaltarLetras">aplicación Movil</span> y uso de <span class="resaltarLetras">despliegue de aplicaciones</span> para una funcionalidad final.</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Primeros pasos en el mundo de la programación en el primer año, y en el segundo especialización en <span class="resaltarLetras">Java en el desarrolllo de aplicaciones</span>. Aprendizaje de programar en <span class="resaltarLetras">Python</span> y android con <span class="resaltarLetras">Android Studio</span>, pero en menor medida que <span class="resaltarLetras">Java</span>. Desarrollo de varias aplicaciones como mi proyecto final en una <span class="resaltarLetras">aplicación Movil</span> y uso de <span class="resaltarLetras">despliegue de aplicaciones</span> para una funcionalidad final.</p>
        </div>
    </div>
    <div class="filaSuperior2">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">10/2022 - 12/2024</p>
        </div>
    </div>
    
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">10/2022 - 12/2024</p>
        </div>
    </div>
    <div class="filaSuperior2">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Primeros pasos en el mundo de la programación en el primer año, y en el segundo especialización en <span class="resaltarLetras">Java en el desarrolllo de aplicaciones</span>. Aprendizaje de programar en <span class="resaltarLetras">Python</span> y android con <span class="resaltarLetras">Android Studio</span>, pero en menor medida que <span class="resaltarLetras">Java</span>. Desarrollo de varias aplicaciones como mi proyecto final en una <span class="resaltarLetras">aplicación Movil</span> y uso de <span class="resaltarLetras">despliegue de aplicaciones</span> para una funcionalidad final.</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Primeros pasos en el mundo de la programación en el primer año, y en el segundo especialización en <span class="resaltarLetras">Java en el desarrolllo de aplicaciones</span>. Aprendizaje de programar en <span class="resaltarLetras">Python</span> y android con <span class="resaltarLetras">Android Studio</span>, pero en menor medida que <span class="resaltarLetras">Java</span>. Desarrollo de varias aplicaciones como mi proyecto final en una <span class="resaltarLetras">aplicación Movil</span> y uso de <span class="resaltarLetras">despliegue de aplicaciones</span> para una funcionalidad final.</p>
        </div>
    </div>
    <div class="filaSuperior2">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">10/2022 - 12/2024</p>
        </div>
    </div>
  </div>
</div>