<div class="perfilContenedor">
  <div class="titular">
    <p class="tituloPagina">Trayectoria profesional</p>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">10/2022 - 12/2024</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias"><span class="resaltarLetras"></span>Durante este ciclo adquirí las bases de la programación y me especialicé en el desarrollo de aplicaciones en Java. Complementé mi formación con proyectos en Python y desarrollo móvil con Android Studio. Mi proyecto final consistió en una aplicación móvil funcional con despliegue y funcionalidades completas.</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">ESTANCIA EN SERBATIC</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">En SERBATIC tuve mi primera toma de contacto con entornos profesionales. Trabajé en desarrollo web con Jakarta EE y aprendí a utilizar nuevas herramientas como IntelliJ, Postman y Docker. Participé en la construcción de aplicaciones web, entre ellas una tienda online y un primer prototipo de acortador de URLs.</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">09/2024 - 12/2024</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">01/2025 - 07/2025</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIO Y CURSOS DE DESARROLLO WEB</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Tras finalizar DAM continué formándome con cursos enfocados al desarrollo web. Empecé con JavaScript y posteriormente profundicé en Spring y Spring Boot, trabajando con bases de datos MySQL y creando mis primeros proyectos web completos. Finalmente amplié mis capacidades al frontend con Angular, desarrollando aplicaciones full-stack combinando Angular + Spring Boot.</p>
        </div>
    </div>
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">TRABAJOS INDEPENDIENTES</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Aplicando lo aprendido, realicé proyectos web en colaboración, entre ellos una web de servicios en Mallorca y un acortador de URLs completamente funcional para uso empresarial. Estos proyectos me permitieron trabajar con clientes reales y gestionar necesidades específicas, además de mantener código, seguridad y despliegues.</p>
        </div>
    </div>
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
           <div class="barra"></div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">07/2024 - 09/2024</p>
        </div>
    </div>
    
  </div>
  <div class="linea">
    <div class="filaSuperiorIzquierda">
        <div class="enlacesContenedor">
          <p class="titulo">09/2024 - Actualmente</p>
        </div>
    </div>
    
    <div class="filaLinea">
      <div class="contenedor">
        <div class="figura">
          <div class="circulo"></div>
          <div class="contenedorBarraFinal">
          <div class="barraFinal"></div>

          <div class="fila fila1">
            <div class="cuadrado c1"></div>
            <div class="cuadrado c2"></div>
            <div class="cuadrado c3"></div>
          </div>

          <div class="fila fila2">
            <div class="cuadrado c4"></div>
            <div class="cuadrado c5"></div>
          </div>

          <div class="fila fila3">
            <div class="cuadrado c6"></div>
            <div class="cuadrado c7"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="filaSuperiorDerecha">
        <div class="enlacesContenedor">
          <p class="titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAW</p>
        </div>
        <div class="enlacesContenedor">
          <p class="textoTrayectorias">Actualmente curso 2º de DAW, habiendo accedido directamente con buenas calificaciones. Continúo reforzando mis conocimientos en desarrollo web, orientándome hacia una formación más completa y una titulación a algo que me encaja más como soy.</p>
        </div>
    </div>
  </div>
</div>