.perfilContenedor {
  width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
}

/* Cabecera */

.titular {
  display: flex;
  justify-content: center;
}

.tituloPagina {
  color: white;
  font-family: 'Alfa Slab One', sans-serif;
  padding-top: 3vh;
  padding-bottom: 8cqi;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin: 0;
  -webkit-text-stroke: 0.07rem black;
  text-align: center;
  text-shadow:
    0.2rem 0.2rem 0 rgb(69, 196, 49),
    0rem 0rem 0 #30f37e,
    0rem 0rem 0 #30f37e,
    0rem 0rem 0 #30f37e;
}

@media (min-width: 820px) {
  .tituloPagina {
    color: white;
    font-family: 'Alfa Slab One', sans-serif;
    padding-top: 3vh;
    padding-bottom: 8vh;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.1rem black;
    text-align: center;
    text-shadow:
      0.3rem 0.3rem 0 rgb(69, 196, 49),
      0rem 0rem 0 #30f37e,
      0rem 0rem 0 #30f37e,
      0rem 0rem 0 #30f37e;
  }
}

@media (min-width: 1500px) {
  .tituloPagina {
    color: white;
    font-family: 'Alfa Slab One', sans-serif;
    padding-top: 3vh;
    padding-bottom: 12vh;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.15rem black;
    text-align: center;
    text-shadow:
      0.5rem 0.5rem 0 rgb(69, 196, 49),
      0rem 0rem 0 #30f37e,
      0rem 0rem 0 #30f37e,
      0rem 0rem 0 #30f37e;
  }
}

.linea {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.filaSuperiorIzquierda {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.filaSuperiorDerecha {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
}

.enlacesContenedor {
  background: rgba(22, 24, 26);
  border-radius: 7px;
  padding: 0.5rem;
  width: auto;
  border: 0.08rem solid rgba(68, 214, 44, 0.2);
  box-shadow: 0.2rem 0.2rem 0 rgb(69, 196, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.enlacesContenedor p {
  margin: 0;
}

.titulo {
  color: white;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 0.7rem;
  text-align: start;
  font-weight: 1;
}

.resaltarLetras {
  color: rgb(51, 194, 29);
}

.textoTrayectorias {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font-size: 0.6rem;
}

@media (min-width: 820px) {
  .filaSuperiorIzquierda {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    padding-right: 0.9rem;
  }

  .filaSuperiorDerecha {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
  }

  .enlacesContenedor {
    background: rgba(22, 24, 26);
    border-radius: 10px;
    padding: 1rem;
    width: auto;
    border: 0.08rem solid rgba(68, 214, 44, 0.2);
    box-shadow: 0.5rem 0.5rem 0 rgb(69, 196, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .titulo {
    color: white;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    text-align: left;
  }

  .resaltarLetras {
    color: rgb(51, 194, 29);
  }

  .textoTrayectorias {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-size: 1rem;
  }
}

@media (min-width: 1500px) {
  .filaSuperiorIzquierda {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-left: 4%;
  }

  .filaSuperiorDerecha {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    padding-right: 4%;
  }

  .enlacesContenedor {
    background: rgba(22, 24, 26);
    border-radius: 10px;
    padding: 2rem;
    width: auto;
    border: 0.08rem solid rgba(68, 214, 44, 0.2);
    box-shadow: 0.3rem 0.3rem 0 rgb(69, 196, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .titulo {
    color: white;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: left;
    margin-right: 3rem;
  }

  .resaltarLetras {
    color: rgb(51, 194, 29);
  }

  .textoTrayectorias {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.2rem;
    text-align: left;
    font-size: 1.3rem;
  }
}

.filaSuperior2 {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Figura completa (círculo + barra) */
.figura {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circulo {
  width: 90%;
  aspect-ratio: 1;
  background: radial-gradient(circle at center, transparent 40%, #22b14c 41%);
  border: 0.1rem solid rgba(68, 214, 44, 0.2);
  border-radius: 50%;
  position: relative;
  z-index: 3;
  margin-top: 0.4rem;
}

.barra {
  margin-top: 0.4rem;
  flex: 1;
  width: 30%;
  background-color: #22b14c;
  border-radius: 10rem;
  z-index: 1;
}

@media (min-width: 820px) {
  .circulo {
    width: 80%;
    aspect-ratio: 1;
    background: radial-gradient(circle at center, transparent 25%, #22b14c 26%);
    border: 0.1rem solid rgba(68, 214, 44, 0.2);
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin-top: 10%;
  }

  .barra {
    margin-top: 15%;
    margin-bottom: 10%;
    flex: 1;
    width: 30%;
    background-color: #22b14c;
    border-radius: 10rem;
    z-index: 1;
  }
}

@media (min-width: 1500px) {
  .circulo {
    width: 60%;
    aspect-ratio: 1;
    background: radial-gradient(circle at center, transparent 25%, #22b14c 26%);
    border: 0.1rem solid rgba(68, 214, 44, 0.2);
    border-radius: 50%;
    position: relative;
    z-index: 3;
    margin-top: 5%;
  }

  .barra {
    margin-top: 10%;
    margin-bottom: 5%;
    flex: 1;
    width: 20%;
    background-color: #22b14c;
    border-radius: 10rem;
    z-index: 1;
  }
}