
@import "bootstrap/dist/css/bootstrap.min.css";

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

* {
  box-sizing: border-box;
}

:root {
  --size: 20px;
  --color-1: rgb(95, 165, 245);
  --color-2: rgba(95, 165, 245, 0.25);
  --negro-1: rgba(22, 24, 26);
  --negro-2: rgb(7, 7, 7);
  --blanco-1: rgb(238, 242, 250);
  --Titulos: "Oswald", sans-serif;
  --Texto: "Lato", sans-serif;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--negro-2);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  background: conic-gradient(
    from 180deg at 50% 70%,
    var(--blanco-1) 0deg,
    var(--color-1) 72deg,
    var(--color-1) 144deg,
    var(--color-1) 216deg,
    var(--color-1) 288deg,
    var(--blanco-1) 1turn
  );
  mask:
    radial-gradient(circle at 50% 50%, var(--blanco-1) 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
    url("assets/aset.webp") 256px 50% / 256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
  pointer-events: none;
}

@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}

.animaciones {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.animaciones .animacion {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--blanco-1);
  opacity: 0.8;
  border-radius: 2px;
  animation: fall 6s linear infinite;
}

.animaciones .animacion:nth-child(1) {
  left: 5%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.animaciones .animacion:nth-child(2) {
  left: 10%;
  animation-duration: 7s;
  animation-delay: 1s;
}

.animaciones .animacion:nth-child(3) {
  left: 15%;
  animation-duration: 8s;
  animation-delay: 2s;
}

.animaciones .animacion:nth-child(4) {
  left: 90%;
  animation-duration: 5.5s;
  animation-delay: 0.5s;
}

.animaciones .animacion:nth-child(5) {
  left: 85%;
  animation-duration: 6.5s;
  animation-delay: 2s;
}

.animaciones .animacion:nth-child(6) {
  left: 95%;
  animation-duration: 8s;
  animation-delay: 1.5s;
}

@keyframes fall {
  0% {
    top: -50px;
    transform: scale(1) rotate(0deg);
    opacity: 0.8;
  }
  10% {
    opacity: 0.8; 
  }
  100% {
    top: 100vh;
    transform: scale(1.2) rotate(180deg);
    opacity: 0;
  }
}

html {
  overflow-y: scroll;
}