
.slide {
  width: 100%;
  display: flex;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  transform: translateY(0);
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.slide:not(.visible) {
  opacity: 0;
  transform: translateY(50px);
}