.perfilContenedor {
  width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
}

.filaSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.nombre {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  padding-top: 6vh;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 800;
  margin: 0;
  -webkit-text-stroke: 0.07rem var(--negro-1);
  text-shadow:
    0.2rem 0.2rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1);
}

.filaInferior {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}


.gridProyectos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.itemCuadradoIzquierdo {
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border: 0.1rem solid var(--color-1);
  box-shadow: 0.6rem 0.6rem 0 var(--color-1);
  border-radius: 10px;
  aspect-ratio: 15 / 17;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  font-family: var(--Texto);
  font-size: 0.9rem;
  color: var(--blanco-1);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  z-index: 1;
}

.itemCuadradoDerecho {
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border: 0.1rem solid var(--color-1);
  box-shadow: 0.6rem 0.6rem 0 var(--color-1);
  border-radius: 10px;
  aspect-ratio: 15 / 17;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  font-family: var(--Texto);
  font-size: 0.9rem;
  color: var(--blanco-1);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.tipoDesarrollo {
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.desarrollos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 0rem;
  width: 100%;
  justify-items: center;
  align-items: start;
  align-content: start;
  height: auto;
}

.logoContenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoTecnologia {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  background-color: var(--blanco-1);
  box-shadow: 0 0 20px 6px var(--negro-2);
  border-radius: 8px;
  padding: 0.4rem;
  transition: transform 0.3s ease;
}

.logoTecnologia:hover {
  transform: scale(1.2);
}

.panelNivel {
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 115%;
  transform: translateY(-50%) scaleX(0);
  transform-origin: left;
  width: 3rem;
  height: 1.5rem;
  background: var(--blanco-1);
  box-shadow: 0 0 20px 6px var(--negro-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
}

.logoContenedor:hover .panelNivel {
  transform: translateY(-50%) scaleX(1);
  opacity: 1;
}

.puntoVerde,
.puntoNegro {
  width: 0.5rem;
  height: 60%;
  border-radius: 4rem;
}

.puntoVerde {
  background-color: var(--color-1);
}

.puntoNegro {
  background-color: var(--negro-1);
}

@media (min-width: 768px) {
  .filaSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nombre {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 3vh;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.1rem var(--negro-1);
    text-shadow:
      0.3rem 0.3rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .filaInferior {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
  }

  .gridProyectos {
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
    width: 100%;
    max-width: 700px;
  }

  .itemCuadradoIzquierdo {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    border-radius: 10px;
    aspect-ratio: 15/16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
    padding: 0.8rem;
    font-family: var(--Texto);
    font-size: 1.3rem;
    color: var(--blanco-1);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    z-index: 1;
  }

  .itemCuadradoDerecho {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    border-radius: 10px;
    aspect-ratio: 15/16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
    padding: 0.8rem;
    font-family: var(--Texto);
    font-size: 1.3rem;
    color: var(--blanco-1);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
  }

  .tipoDesarrollo {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  }

  .logoTecnologia {
    width: 2.5rem;
    height: 2.5rem;
  }

  .desarrollos {
    row-gap: 1.5rem;
    column-gap: 0.2rem;
  }

  .logoTecnologia {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: contain;
    background-color: var(--blanco-1);
    box-shadow: 0 0 20px 6px var(--negro-2);
    border-radius: 8px;
    padding: 0.4rem;
    transition: transform 0.3s ease;
  }

  .panelNivel {
    position: absolute;
    z-index: 2000;
    top: 50%;
    left: 115%;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    width: 5rem;
    height: 2.5rem;
    background: var(--blanco-1);
    box-shadow: 0 0 20px 6px var(--negro-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .puntoVerde,
  .puntoNegro {
    width: 0.7rem;
    height: 80%;
    border-radius: 4rem;
  }
}

@media (min-width: 1500px) {
  .filaSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    text-align: center;
  }

  .nombre {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 6vh;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.15rem var(--negro-1);
    text-shadow:
      0.5rem 0.5rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .filaInferior {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15rem;
  }

  .gridProyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
    width: 100%;
    max-width: 1200px;
  }

  .itemCuadradoIzquierdo {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border: 0.1rem solid var(--color-2);
    box-shadow: 1rem 1rem 0 var(--color-1);
    border-radius: 10px;
    aspect-ratio: 15/16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    font-family: var(--Texto);
    font-size: 1.6rem;
    color: var(--blanco-1);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    z-index: 1;
  }

  .itemCuadradoDerecho {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border: 0.1rem solid var(--color-2);
    box-shadow: 1rem 1rem 0 var(--color-1);
    border-radius: 10px;
    aspect-ratio: 15/16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    font-family: var(--Texto);
    font-size: 1.6rem;
    color: var(--blanco-1);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
  }

  .tipoDesarrollo {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }

  .desarrollos {
    row-gap: 3.5rem;
    column-gap: 0.2rem;
  }

  .logoTecnologia {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    background-color: var(--blanco-1);
    box-shadow: 0 0 20px 6px var(--negro-2);
    border-radius: 8px;
    padding: 0.4rem;
    transition: transform 0.3s ease;
  }

  .panelNivel {
    position: absolute;
    z-index: 2000;
    top: 50%;
    left: 115%;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    width: 7rem;
    height: 4.5rem;
    background: var(--blanco-1);
    box-shadow: 0 0 20px 6px var(--negro-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .puntoVerde,
  .puntoNegro {
    width: 1rem;
    height: 70%;
    border-radius: 4rem;
  }
}