.perfilContenedor {
  width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
}

.filaSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.fotoPerfil {
  position: relative;
  width: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid var(--color-2);
  box-shadow: 0.4rem 0.4rem 0 var(--color-1);
  flex-shrink: 0; 
}

.fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nombre {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  padding-top: 6vh;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin: 0;
  font-weight: 800;
  -webkit-text-stroke: 0.08rem var(--negro-1);
  text-shadow: 0.2rem 0.2rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
}

.filaInferior {
  margin-top: 5%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoBlanco {
  color: var(--blanco-1);
  margin: 0;
  line-height: 1.6;
  margin-block: 1lh;
}

.colorContrarioDescripciones {
  color: var(--color-1);
  text-shadow:
    0 0rem 0rem var(--color-1),
    0 0 0rem var(--color-1);
}

.descripcionCorta {
  font-size: 0.9rem;
  font-family: var(--Texto);
  text-shadow:
    0 0.07rem 0.1rem var(--color-1),
    0 0 0.2rem var(--color-1);
  -webkit-text-stroke: 0.04rem var(--color-2);
  margin-top: 3vh;
  padding-bottom: 0.5vh;
  padding-inline: 3vw;
}

.descripcionLarga {
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1.4rem;
  width: 90%;
  margin: 0 auto;
  border: 0.1rem solid var(--color-2);
  box-shadow: 0.3rem 0.3rem 0 var(--color-1);
  font-size: 0.7rem;
  margin-top: 2vh;
  font-family: var(--Texto);
}

@media (min-width: 768px) {
  .fotoPerfil {
    position: relative;
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: 0.2rem solid var(--color-2);
    box-shadow: 0.4rem 0.4rem 0 var(--color-1);
    flex-shrink: 0; 
  }

  .filaSuperior {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    height: 20%;
    text-align: center;
  }

  .nombre {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 6vh;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 0;
    -webkit-text-stroke: 0.1rem var(--negro-1);
    text-shadow:
      0.25rem 0.25rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .descripcionCorta {
    font-size: 1.3rem;
    font-family: var(--Texto);
    text-shadow:
      0 0.1rem 0.2rem var(--color-1),
      0 0 0.3rem var(--color-1);
    -webkit-text-stroke: 0.07rem var(--color-2);
    margin-top: 0.5vh;
    padding-inline: 10%;
    padding-bottom: 0.5vh;
  }

  .descripcionLarga {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    font-size: 1rem;
    margin-top: 2vh;
    font-family: var(--Texto);
  }
}

@media (min-width: 1200px) {
  .filaSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 20%;
    text-align: center;
  }
}

@media (min-width: 1500px) {
  .fotoPerfil {
    position: relative;
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-2);
    box-shadow: 
      0.4rem 0.4rem 0 var(--color-1),
      0 0 0 var(--color-1);
    flex-shrink: 0;
  }
  
  .filaSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 20%;
    text-align: center;
  }

  .nombre {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 6vh;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.15rem var(--negro-1);
    text-shadow:
      0.4rem 0.4rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .descripcionCorta {
    font-size: 1.6rem;
    font-family: var(--Texto);
    text-shadow:
      0 0.1rem 0.2rem var(--color-1),
      0 0 0.3rem var(--color-1);
    -webkit-text-stroke: 0.07rem var(--color-2);
    margin-top: 0.5vh;
    padding-inline: 10%;
    padding-bottom: 0.5vh;
  }

  .descripcionLarga {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem;
    width: 50%;
    max-width: 1300px;
    margin: 0 auto;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    font-size: 1.2rem;
    margin-top: 2vh;
    font-family: var(--Texto);
  }
}