<div class="perfilContenedor">
    <div class="filaSuperior">
        <div class="fotoPerfil">
            <img src="perfil.jpg" alt="Foto de perfil" />
        </div>
        <p class="nombre">Juan Ramón de León</p>
    </div>
    <div class="filaInferior">
            <p class="textoBlanco descripcionCorta">
                <b>No soy una IA, soy un desarrollador <span class="colorContrarioDescripciones">Back-End</span>, <br/>
                interesado en el mundo de la <span class="colorContrarioDescripciones">Programación</span> y el <span class="colorContrarioDescripciones">Diseño Web</span>.</b>
            </p>
            <p class="textoBlanco descripcionLarga">
                Soy un programador en formación continua, con experiencia en el desarrollo de aplicaciones tanto en entorno backend como frontend. Mi base se encuentra en Java y sus principales frameworks (Spring, Spring Boot, Jakarta EE e Hibernate), complementado con el uso de IDEs como Eclipse, IntelliJ IDEA y Visual Studio Code.
                <br><br>Con los años he desarrollado un interés especial por el diseño y la experiencia de usuario, lo que me ha llevado también a formarme en Angular, JavaScript y tecnologías orientadas a la web, creando interfaces funcionales, claras y atractivas visualmente.
            </p>
    </div>
</div>