.contenedorMenuLateral {
  position: fixed;
  top: 2vh;
  right: 0;
  height: calc(100vh - 2vh);
  display: flex;
  align-items: flex-start;
  transition: transform 0.4s ease;
  z-index: 9999999;
}

.contenedorMenuLateral.collapsed {
  transform: translateX(14vw);
}

.material-symbols-outlined {
  font-size: 3rem;
}

.menu {
  background: var(--negro-1);
  width: 24vw;
  min-width: 18rem;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  border: 0.1rem solid var(--color-1);
  box-shadow: 0.063rem 0 0.75rem 0 var(--negro-2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.menu.collapsed {
  opacity: 0;
  pointer-events: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.logoBoton {
  position: relative;
  z-index: 1100;
  background: var(--negro-1);
  border: none;
  border-radius: 10px;
  width: 7vh;
  height: 7vh;
  min-width: 3rem;
  min-height: 3rem;
  cursor: pointer;
  border: 0.1rem solid var(--color-2);
  margin-right: -12rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blanco-1);
  box-shadow: 0.3rem 0.3rem 0 var(--color-1);
}

.menuPrincipal {
  margin-top: 12vh;
  list-style: none;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3vh;
}

.menuPrincipalObjetos{
  display: flex;
  justify-content: center;
}

.menuPrincipalDireciones {
  display: flex;
  align-items: center;
  margin-right: -2vw;
  justify-content: center;
  height: 4rem;
  width: 100%;
  max-width: 18rem;
  color: var(--blanco-1);
  font-family: var(--Titulo);
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 0 9rem;
  letter-spacing: 0.2rem;
  z-index: 9998;
}

.menuPrincipalDirecionesTexto {
  font-size: 1.5rem;
}

.menuPrincipalDireciones:hover,
.active {
  background-color: var(--color-1);
  color: #000;
  border: 0.1rem solid var(--color-2);
}

@keyframes giroTriple {
  0% {
    transform: rotate(0deg);
  }
  33.33% {
    transform: rotate(180deg);
  }
  66.66% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(480deg);
  }
}

.material-symbols-outlined.girar {
  animation: giroTriple 0.7s linear;
}

@media (min-width: 768px) {
  .material-symbols-outlined {
    font-size: 4rem;
  }

  .logoBoton {
    position: relative;
    z-index: 1100;
    background: var(--negro-1);
    border: none;
    border-radius: 10px;
    width: 7vh;
    height: 7vh;
    min-width: 6rem;
    min-height: 6rem;
    cursor: pointer;
    border: 0.1rem solid var(--color-2);
    margin-right: -8rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco-1);
    box-shadow: 0.3rem 0.3rem 0 var(--color-1);
  }

 .menuPrincipal {
    margin-top: 15vh;
    list-style: none;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3vh;
  }
}

@media (min-width: 1200px) {
  .menuPrincipal {
    margin-top: 18vh;
    list-style: none;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3vh;
  }
}

@media (min-width: 1500px) {
  .material-symbols-outlined {
    font-size: 5rem;
  }

  .menuPrincipal {
    margin-top: 12vh;
    list-style: none;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3vh;
  }

  .menuPrincipalDireciones {
    display: flex;
    align-items: center;
    margin-right: -2vw;
    justify-content: center;
    height: 4rem;
    width: 100%;
    max-width: 18rem;
    color: var(--blanco-1);
    font-family: var(--Titulo);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 3rem 12rem;
    letter-spacing: 0.2rem;
  }

  .menuPrincipalDirecionesTexto {
    font-size: 2rem;
  }
}