<div class="contenedorMenuLateral" [class.collapsed]="menuCerrado()">
  <button class="logoBoton" (click)="cerrarMenu()">
    <span #gearIcon class="material-symbols-outlined">settings</span>
  </button>
  <br/>

  <div class="menu" [class.collapsed]="menuCerrado()">
    <div class="menuPrincipal">
      @for (item of items; track $index) {
        <li class="menuPrincipalObjetos">
          
          <a
            class="menuPrincipalDireciones"
            [routerLink]="item.routeLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="cerrarMenu()"
          >
            @if (!menuCerrado()) {
              <span class="menuPrincipalDirecionesTexto">{{ item.label }}</span>
            }
          </a>
          
        </li>
      }
    </div>
  </div>
</div>
