.contactoContenedor {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
  width: 100%;
}

.titular {
  display: flex;
  justify-content: center;
}

.tituloPagina {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  padding-top: 3vh;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin: 0;
  -webkit-text-stroke: 0.07rem var(--negro-1);
  text-shadow:
    0.2rem 0.2rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1);
}

.enlacesContenedor {
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 0.7rem;
  width: auto;
  margin: 0 auto;
  border: 0.08rem solid var(--color-2);
  box-shadow: 0.3rem 0.3rem 0 var(--color-1);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.contactoFila {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titulo {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  text-align: left;
}

.informacionContenedor {
  background: var(--negro-1);
  border-radius: 7px;
  padding: 0.4rem 0.6rem;
  color: var(--blanco-1);
  font-family: var(--Texto);
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  border: 0.1rem solid var(--negro-2);
  box-shadow: 0.3rem 0.3rem 0 var(--negro-2);
}

.material-symbols-outlined {
    font-size: 0.5rem;
}

.informacionContenedor.simbolos {
    cursor: pointer;
}

.informacionContenedor.simbolos a {
  color: inherit;
  text-decoration: none;
}

.informacionContenedor.simbolos:hover {
  transition: all 0.5s ease;
  background-color: var(--blanco-1);
  color: var(--negro-2);
}

.contenedorEnlaces {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  border: 0.1rem solid var(--negro-2);
  box-shadow: 0.3rem 0.3rem 0 var(--negro-2);
  color: var(--blanco-1);
  font-family: var(--Texto);
  font-size:  0.5rem;
  letter-spacing: 0.1rem;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
}

.contenedorEnlaces a {
  text-decoration: none;
  color: var(--blanco-1);
  font-weight: 500;
}

.contenedorEnlaces.linkedin {
  border-color: #0077b5;
  color: var(--blanco-1);
}

.contenedorEnlaces.linkedin i {
  font-size: 0.8rem;
  color: #0077b5;
}

.contenedorEnlaces.github {
  border-color: #6e5494;
  color: var(--blanco-1);
}

.contenedorEnlaces.github i {
  font-size: 0.8rem;
  color: #6e5494;
}

.contenedorEnlaces.github:hover {
  border-color: var(--blanco-1);
  background: #6e5494;
  transition: all 0.5s ease;
}

.contenedorEnlaces.github:hover i {
  color: var(--blanco-1);
  transition: all 0.5s ease;
}

.contenedorEnlaces.linkedin:hover {
  border-color: var(--blanco-1);
  background: #0077b5;
  transition: all 0.5s ease;
}

.contenedorEnlaces.linkedin:hover i {
  color: var(--blanco-1);
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  .tituloPagina {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 3vh;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.1rem var(--negro-1);
    text-shadow:
      0.3rem 0.3rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .enlacesContenedor {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem;
    width: auto;
    margin: 0 auto;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
  }

  .contactoFila {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .titulo {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-align: left;
  }

  .informacionContenedor {
    background: var(--negro-1);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: var(--blanco-1);
    font-family: var(--Texto);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border: 0.1rem solid var(--negro-2);
    box-shadow: 0.6rem 0.6rem 0 var(--negro-2);
  }

  .material-symbols-outlined {
    font-size: 1.2rem;
  }

  .contenedorEnlaces {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 0.1rem solid var(--negro-2);
    box-shadow: 0.6rem 0.6rem 0 var(--negro-2);
    color: var(--blanco-1);
    font-family: var(--Texto);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
  }

  .contenedorEnlaces.linkedin i {
    font-size: 1.5rem;
    color: #0077b5;
  }

  .contenedorEnlaces.github i {
    font-size: 1.5rem;
    color: #6e5494;
  }
}

@media (min-width: 1500px) {
  .tituloPagina {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.15rem var(--negro-2);
    text-shadow:
      0.5rem 0.5rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .enlacesContenedor {
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 4rem;
    width: auto;
    margin: 0 auto;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
  }

  .contactoFila {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .titulo {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: left;
    margin-right: 3rem;
  }

  .informacionContenedor {
    background: var(--negro-1);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: var(--blanco-1);
    font-family: var(--Texto);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border: 0.1rem solid var(--negro-2);
    box-shadow: 0.6rem 0.6rem 0 var(--negro-2);
    margin-right: 1.5rem;
  }

  .material-symbols-outlined {
    font-size: 2rem;
  }

  .contenedorEnlaces {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 0.1rem solid var(--negro-2);
    box-shadow: 0.6rem 0.6rem 0 var(--negro-2);
    color: var(--blanco-1);
    font-family: var(--Texto);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
  }

  .contenedorEnlaces.linkedin i {
    font-size: 1.5rem;
    color: #0077b5;
  }

  .contenedorEnlaces.github i {
    font-size: 1.5rem;
    color: #6e5494;
  }
}