.perfilContenedor {
  width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
}

.filaSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nombre {
  color: var(--blanco-1);
  font-family: var(--Titulo);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 800;
  margin: 0;
  -webkit-text-stroke: 0.07rem var(--negro-1);
  text-shadow:
    0.2rem 0.2rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1),
    0rem 0rem 0 var(--color-1);
}

.filaInferior {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.contenedorPrincipal {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.señalizador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contenedorBotones {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonIzquierda {
  margin-left: 40%;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  transform: rotate(45deg);
}

.botonDerecha {
  margin-right: 40%;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  transform: rotate(225deg);
}

.botonIzquierda::before,
.botonIzquierda::after {
  content: "";
  position: absolute;
  background-color: var(--negro-1);
  border: 0.08rem solid var(--color-2);
  box-shadow: 0.15rem 0.15rem 0 var(--color-1);
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.botonDerecha::before,
.botonDerecha::after {
  content: "";
  position: absolute;
  background-color: var(--negro-1);
  border: 0.08rem solid var(--color-2);
  box-shadow: -0.15rem -0.15rem 0 var(--color-1);
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.botonIzquierda::before {
  width: 8px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.botonIzquierda::after {
  height: 8px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.botonDerecha::before {
  width: 8px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.botonDerecha::after {
  height: 8px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.botonIzquierda:hover {
  transform: rotate(45deg) scale(1.3);
}

.botonDerecha:hover {
  transform: rotate(225deg) scale(1.3);
}

.botonIzquierda:hover::before {
  background-color: var(--negro-1);
  border: 0.08rem solid var(--color-2);
  box-shadow: 0.15rem 0.15rem 0 var(--color-1);
  z-index: 1;
}

.botonIzquierda:hover::after {
  background-color: var(--negro-1);
  border: 0.08rem solid var(--color-2);
  box-shadow: 0.15rem 0.15rem 0 var(--color-1);
  z-index: 2;
}

.botonDerecha:hover::before {
  background-color: var(--negro-1);
  border: 0.08rem solid var(--color-2);
  box-shadow: -0.15rem -0.15rem 0 var(--color-1);
  z-index: 2;
}

.botonDerecha:hover::after {
  background-color: var(--negro-1);
  border: 0.08rem solid var(--color-2);
  box-shadow: -0.15rem -0.15rem 0 var(--color-1);
  z-index: 1;
}

.contenedorCarrusel {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.card {
  width: 14rem;
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  padding: 1rem;
  border: 0.1rem solid var(--color-2);
  box-shadow: 0.3rem 0.3rem 0 var(--color-1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

.señalizador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.indicadores {
  width: auto;
  background: var(--negro-1);
  backdrop-filter: blur(10px);
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  border: 0.1rem solid var(--color-2);
  box-shadow: 0.2rem 0.2rem 0 var(--color-1);
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
  
.indicador {
  width: 1rem;
  height: 0.2rem;
  border-radius: 10px;
  background-color: var(--blanco-1);
  border: 0.1rem var(--blanco-1);
  transition: all 0.3s ease;
  cursor: pointer;
}
  
.indicador:hover {
  transform: scale(1.2);
}
  
.indicador.activo {
  background-color: var(--color-1);
  border: 0.1rem var(--color-1);
  transform: scale(1.3);
}

.titular {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.titulo {
  color: var(--blanco-1);
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: var(--Titulo);
  width: 100%;
  text-align: start;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: calc(1.6*0.9rem * 2);
}

.enlacesCard {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 0.7rem;
  text-align: center;
  align-items: center;
}

.botonEnlace {
  position: relative;
  background: var(--color-1);
  border: none;
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--negro-2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  line-height: 1;
  text-decoration: none;
  box-shadow: 0 0 20px 6px var(--negro-2);
}

.material-symbols-outlined {
  font-size: 1.5em;
}

.descripcion {
  width: auto;
  background: var(--color-1);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  padding: 0.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.texto {
  color: var(--negro-1);
  margin: 0;
  line-height: 1.6;
  font-size: 0.7rem;
  font-family: var(--Texto);
  text-align: start;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: calc(1.6 * 0.7rem * 7);
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.imagen img {
  width: 100%;
  aspect-ratio: 5/4;
  border-radius: 7px;
  border: 0.3rem var(--blanco-1);
  padding: 1rem;
  background: var(--blanco-1);
  backdrop-filter: blur(2rem);
  object-fit: contain;
}

.filaInferiorCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
}

.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--negro-1);
  border: 0.15rem solid var(--color-2);
  box-shadow: 0 0 20px 6px var(--negro-2);
  border-radius: 7px;
  padding: 0.5rem;
}

.tecnologias img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.tecnologias img:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .filaSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .nombre {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.1rem var(--negro-1);
    text-shadow:
      0.3rem 0.3rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .filaInferior {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contenedorBotones {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botonIzquierda {
    margin-left: 40%;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: rotate(45deg);
  }

  .botonDerecha {
    margin-right: 40%;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: rotate(225deg);
  }

  .botonIzquierda::before,
  .botonIzquierda::after {
    content: "";
    position: absolute;
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.25rem 0.25rem 0 var(--color-1);
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .botonDerecha::before,
  .botonDerecha::after {
    content: "";
    position: absolute;
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: -0.25rem -0.25rem 0 var(--color-1);
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .botonIzquierda::before {
    width: 12.75px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .botonIzquierda::after {
    height: 12.75px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .botonDerecha::before {
    width: 12.75px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .botonDerecha::after {
    height: 12.75px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  .botonIzquierda:hover {
    transform: rotate(45deg) scale(1.3);
  }

  .botonDerecha:hover {
    transform: rotate(225deg) scale(1.3);
  }

  .botonIzquierda:hover::before {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.25rem 0.25rem 0 var(--color-1);
    z-index: 1;
  }

  .botonIzquierda:hover::after {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.25rem 0.25rem 0 var(--color-1);
    z-index: 2;
  }

  .botonDerecha:hover::before {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: -0.25rem -0.25rem 0 var(--color-1);
    z-index: 2;
  }

  .botonDerecha:hover::after {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: -0.25rem -0.25rem 0 var(--color-1);
    z-index: 1;
  }

  .contenedorCarrusel {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .card {
    width: 30.5rem;
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.4rem 0.4rem 0 var(--color-1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    margin: 2rem;
  }

  .indicadores {
    width: auto;
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.2rem 0.2rem 0 var(--color-1);
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
    
  .indicador {
    width: 1.3rem;
    height: 0.3rem;
    border-radius: 10px;
    background-color: var(--blanco-1);
    border: 0.1rem var(--blanco-1);
    transition: all 0.3s ease;
    cursor: pointer;
  }
    
  .indicador:hover {
    transform: scale(1.2);
  }
    
  .indicador.activo {
    background-color: var(--color-1);
    border: 0.1rem var(--color-1);
    transform: scale(1.3);
  }

  .titulo {
    color: var(--blanco-1);
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.6;
    font-family: var(--Titulo);
    width: 100%;
    text-align: start;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: calc(1.6*1.3rem * 1);
  }

  .enlacesCard {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
    align-items: center;
  }

  .botonEnlace {
    position: relative;
    background: var(--color-1);
    border: none;
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--negro-2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    line-height: 1;
    text-decoration: none;
  }

  .material-symbols-outlined {
    font-size: 1.5em;
  }

  .descripcion {
    width: auto;
    background: var(--color-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .texto {
    color: var(--negro-1);
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    font-family: var(--Texto);
    text-align: start;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: calc(1.6 * 1rem * 5);
  }

  .imagen img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 10px;
    border: 0.3rem var(--blanco-1);
    padding: 2rem;
    background: var(--blanco-1);
    backdrop-filter: blur(2rem);
    object-fit: contain;
  }

  .tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--negro-1);
    border: 0.15rem solid var(--color-2);
    border-radius: 10px;
    padding: 0.5rem;
  }

  .tecnologias img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 1500px) {
  .filaSuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .nombre {
    color: var(--blanco-1);
    font-family: var(--Titulo);
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-text-stroke: 0.15rem var(--negro-1);
    text-shadow:
      0.5rem 0.5rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1),
      0rem 0rem 0 var(--color-1);
  }

  .filaInferior {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .contenedorBotones {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botonIzquierda {
    margin-left: 90%;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: rotate(45deg);
  }

  .botonDerecha {
    margin-right: 90%;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: rotate(225deg);
  }

  .botonIzquierda::before,
  .botonIzquierda::after {
    content: "";
    position: absolute;
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.3rem 0.3rem 0 var(--color-1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .botonDerecha::before,
  .botonDerecha::after {
    content: "";
    position: absolute;
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: -0.3rem -0.3rem 0 var(--color-1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .botonIzquierda::before {
    width: 16px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .botonIzquierda::after {
    height: 16px;
    width: 120%;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .botonDerecha::before {
    width: 16px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .botonDerecha::after {
    height: 16px;
    width: 120%;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  .botonIzquierda:hover {
    transform: rotate(45deg) scale(1.3);
  }

  .botonDerecha:hover {
    transform: rotate(225deg) scale(1.3);
  }

  .botonIzquierda:hover::before {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.3rem 0.3rem 0 var(--color-1);
    z-index: 1;
  }

  .botonIzquierda:hover::after {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: 0.3rem 0.3rem 0 var(--color-1);
    z-index: 2;
  }

  .botonDerecha:hover::before {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: -0.3rem -0.3rem 0 var(--color-1);
    z-index: 2;
  }

  .botonDerecha:hover::after {
    background-color: var(--negro-1);
    border: 0.08rem solid var(--color-2);
    box-shadow: -0.3rem -0.3rem 0 var(--color-1);
    z-index: 1;
  }

  .contenedorCarrusel {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .card {
    width: 40rem;
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1.5rem;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.6rem 0.6rem 0 var(--color-1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
  }
  
  .indicadores {
    width: auto;
    background: var(--negro-1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 0.8rem 1.3rem;
    border: 0.1rem solid var(--color-2);
    box-shadow: 0.4rem 0.4rem 0 var(--color-1);
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
    
  .indicador {
    width: 1.6rem;
    height: 0.5rem;
    border-radius: 10px;
    background-color: var(--blanco-1);
    border: 0.1rem var(--blanco-1);
    transition: all 0.3s ease;
    cursor: pointer;
  }
    
  .indicador:hover {
    transform: scale(1.2);
  }
    
  .indicador.activo {
    background-color: var(--color-1);
    border: 0.1rem var(--color-1);
    transform: scale(1.3);
  }

  .titulo {
    color: var(--blanco-1);
    margin: 0;
   font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--Titulo);
    width: 100%;
    text-align: start;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: calc(1.6*1.6rem * 1);
  }

  .enlacesCard {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
    align-items: center;
  }

  .botonEnlace {
    position: relative;
    background: var(--color-1);
    border: none;
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--negro-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    line-height: 1;
    text-decoration: none;
  }

  .material-symbols-outlined {
    font-size: 1.5em;
  }

  .descripcion {
    width: auto;
    background: var(--color-1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .texto {
    color: var(--negro-1);
    margin: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    font-family: var(--Texto);
    text-align: start;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: calc(1.6 * 1.2rem * 4);
  }

  .imagen img {
    width: 100%;
    aspect-ratio: 4/2;
    border-radius: 10px;
    border: 0.3rem var(--blanco-1);
    padding: 2rem;
    background: var(--blanco-1);
    backdrop-filter: blur(2rem);
    object-fit: contain;
  }

  .tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--negro-2);
    border: 0.15rem solid var(--color-2);
    border-radius: 10px;
    padding: 0.5rem;
  }

  .tecnologias img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
}